- var scripts = getBlock('scripts')
- var styles = getBlock('styles')

//- Prettify Syntax Highlighting
- scripts.add(["/vendor/prettify.js"])
- styles.add(["/vendor/prettify.css"])

//- jQuery
- scripts.add(["/vendor/jquery/jquery.js"])

//- Bootstrap
- scripts.add(["/vendor/components-bootstrap/js/bootstrap.js"])
- styles.add(["/vendor/components-bootstrap/css/bootstrap.css","//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css"])

//- Other Scripts
- scripts.add(["/vendor/skrollr.min.js","/vendor/log.js","/vendor/modernizr.js","/vendor/angular.js"])

//- User
- styles.add(["/styles/style.css"])
- scripts.add(["/scripts/script.js"])

doctype 5
html(lang="en")
  head

    // Meta
    meta(charset="utf-8")
    meta(http-equiv="content-type", content="text/html; charset=utf-8")

    //-
      Use the .htaccess and remove these lines to avoid edge case issues.
      More info: h5bp.com/i/378
    meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")

    //- Our site title and description
    title= getPreparedTitle()
    meta(name="description", content=getPreparedDescription())
    meta(name="keywords", content=getPreparedKeywords())
    meta(name="author", content=site.author || '')

    //- Output DocPad produced meta elements
    != getBlock('meta').toHTML()

    //- Mobile viewport optimized: h5bp.com/viewport
    meta(name="viewport", content="width=device-width")

    // Fonts & Icons
    link(rel="apple-touch-icon-precomposed", sizes="144x144", href="/ico/apple-touch-icon-144-precomposed.png")
    link(rel="shortcut icon", href="/ico/favicon.ico")
    link(rel="apple-touch-icon-precomposed", sizes="144x144", href="/ico/apple-touch-icon-144-precomposed.png")
    link(rel="apple-touch-icon-precomposed", sizes="114x114", href="/ico/apple-touch-icon-114-precomposed.png")
    link(rel="apple-touch-icon-precomposed", sizes="72x72", href="/ico/apple-touch-icon-72-precomposed.png")
    link(rel="apple-touch-icon-precomposed", href="/ico/apple-touch-icon-57-precomposed.png")

    //- Shims: IE6-8 support of HTML5 elements
    //if lt IE 9
      script(async src="http://html5shim.googlecode.com/svn/trunk/html5.js")

    // Styles
    != styles.toHTML()

  block vars
  body(class=getPreparedBodyClass())

    // Markup
    //- nav(role="navigation").navbar.navbar-default#navbar-main
    //-   .container    
    //-     ul.nav.navbar-nav.navbar-right
    //-       each doc in getCollection('pages').toJSON()
    //-         - clazz = (document.url === doc.url) ? 'active' : null
    //-         li(typeof="sioc:Page", about=doc.url, class=clazz).navbar-right
    //-           a(href=doc.url, property="dc:title")= doc.title

    != content

    footer.container.text-center
      h2 <a href="http://twitter.com/recordfamous"><span class="fa fa-twitter"></span></a> : <a href="http://tapefamous.com"><span class="fa fa-tumblr"></span></a> : <a href="http://www.linkedin.com/pub/vikram-babu/5a/a3b/b97"><span class="fa fa-linkedin"></span></a> : <a href="http://instagram.com/recordfamous"><span class="fa fa-instagram"></span></a>
      h4= site.copyright
      h4 Handbuilt with <span class="glyphicon glyphicon-heart"></span> in Oakland</h4>
      p vikram at recordfamous dot com || 734 238 3827
    // Scripts
    != scripts.toHTML()